{% extends 'home/base.html' %}


{% block content %}
    <h1>Question</h1>
    <form enctype="multipart/form-data" method="POST" class="post-form" >{% csrf_token %}
        {{ form.as_p }}
       
        <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
    <script type="text/javascript">

function clearFile(event) {
    $(event.data.fileFieldName).val("");
}

function clearTable(event) {
    $(event.data.fileFieldName).val("Table source");
}

function clearSource(event) {
    $(event.data.fileFieldName).val("Figure source");
}


function clearOld(event) {
    var buttonText = $(event.data.fileFieldButtonName).html();
    if(buttonText.indexOf("Restore") >= 0) {
        $(event.data.fileFieldName).val(event.data.oldVal);
        $(event.data.hiddenFieldName).val(event.data.oldVal);
        $(event.data.fileFieldButtonName).html("Delete old file")
    } else {
        $(event.data.fileFieldName).val("Deleted");
        $(event.data.hiddenFieldName).val("Deleted");
        $(event.data.fileFieldButtonName).html("Restore original")
    }
}

    function addFile() {
                            var currentCount = $('#numNewFiles').html()*1;
                            $('#numNewFiles').html(function(i, val) { return val*1+1 });

                            $('#addFiles').append( '<p><label for="id_figure_' + currentCount + '">Figure ' +  currentCount +':</label> <input id="id_figure_' + currentCount + '" name="figure_' + currentCount + '" type="file" value=""/>  <button id="resetInputForFile'+ currentCount +'" type="button" >Remove file</button></p> <p><label for="id_figuresource_' + currentCount + '">Figure ' +  currentCount +' source:</label> <textarea cols="40" maxlength="200" rows="10" id="id_figuresource_' + currentCount + '" name="figuresource_' + currentCount + '" type="text" value="Figure source">Figure source</textarea><button id="resetInputForFigureSource'+ currentCount +'" type="button" >Clear</button></p>');                             
                            $("#resetInputForFile"+ currentCount).click({fileFieldName: "#id_figure_" + currentCount}, clearFile);
                            $("#resetInputForFigureSource"+ currentCount).click({fileFieldName: "#id_figuresource_" + currentCount}, clearSource);
                    return false;
            }
            
    function addTable() {
                            var currentCount = $('#numNewTables').html()*1;
                            $('#numNewTables').html(function(i, val) { return val*1+1 });

                            $('#addTables').append( '<p><label for="id_ltable_' + currentCount + '">Table ' +  currentCount +':</label> <textarea cols="40" maxlength="200" rows="10" id="id_ltable_' + currentCount + '" name="ltable_' + currentCount + '" type="text" value="Table source">Table source</textarea><button id="resetInputForTable'+ currentCount +'" type="button" >Clear</button></p>');                             
                            $("#resetInputForTable"+ currentCount).click({fileFieldName: "#id_ltable_" + currentCount}, clearTable);

                    return false;
            }            
        $(document).ready(function() {
            $("#addNewFile").click({buttonName: "#addNewFile"},addFile);
            $("#addNewTable").click({buttonName: "#addNewTable"},addTable);
{% for tab in form.instance.get_tables %}
$("#resetInputForTable{{ tab.num }}").click({fileFieldName: "#id_ltable_{{tab.num}}"}, clearTable);
{% endfor %}   
{% for fig in form.instance.get_figures %}
$("#deleteOldFile{{ fig.num }}").click({fileFieldName: "#span_f_{{fig.num}}", fileFieldButtonName: "#deleteOldFile{{ fig.num }}", oldVal: "{{fig.get_fig_name}}", hiddenFieldName: "#oldfile_actual_{{fig.num}}"}, clearOld);
$("#resetInputForFigureSource{{ fig.num }}").click({fileFieldName: "#id_figuresource_{{fig.num}}"}, clearSource);

{% endfor %}
        });
</script>


<div id="numNewFiles"  style="display: none;">{% if form.instance %}
{{ form.instance.get_new_figure_num }}{% else %} 1
{% endif %}</div>

{% if form.instance %}
{% for fig in form.instance.get_figures %}
<p><label for="id_figure_{{fig.num}}">Figure {{fig.num}}:</label> <input name="span_{{fig.num}}" id="span_f_{{fig.num}}" value="{{fig.get_fig_name}}" disabled /> <input name="oldfile_{{fig.num}}" type="hidden" id="oldfile_actual_{{fig.num}}" value="{{fig.get_fig_name}}" />  <button id="deleteOldFile{{fig.num}}" type="button">Delete old file.</button><a href="fig/{{fig.num}}/">Download old figure</a>
<br> Choose new file: <input id="id_figure_{{fig.num}}" name="figure_{{fig.num}}" type="file" value=""/>  <button id="resetInputForFile{{fig.num}}" type="button" >Remove new upload</button></p>
<p><label for="id_figuresource_{{fig.num}}">Figure {{fig.num}} source:</label> <textarea cols="40" maxlength="200" rows="10" id="id_figuresource_{{fig.num}}" name="figuresource_{{fig.num}}" type="text" value="{{fig.figure_source}}">{{fig.figure_source}}</textarea><button id="resetInputForFigureSource{{fig.num}}" type="button" >Clear</button></p>
{% endfor %}
{% endif %}
                <div id="addFiles">
</div>
        <button id="addNewFile" type="submit" form="form1" value="addFileButton">Add an image file</button>



<div id="numNewTables"  style="display: none;">{% if form.instance %}
{{ form.instance.get_new_table_num }}{% else %} 1
{% endif %}</div>
{% if form.instance %}
{% for tab in form.instance.get_tables %}
<p><label for="id_ltable_{{tab.num}}">Table {{tab.num}}:</label> <textarea cols="40" maxlength="200" rows="10" id="id_ltable_{{tab.num}}" name="ltable_{{tab.num}}" type="text" value="Table source">{{tab.table}}</textarea><button id="resetInputForTable{{tab.num}}" type="button" >Clear</button></p>                            
{% endfor %}
{% endif %}
                <div id="addTables">
</div>
        <button id="addNewTable" type="submit" form="form1" value="addTableButton">Add a table</button>

<br>
        <button type="submit" class="save btn btn-default">Save</button>
        <br>

         {% if isEdit %}
<a href="{% url 'questions.deleteQuestion' form.instance.pk %}">Delete Question</a>
{% endif %}
    </form>
    

    
{% endblock %}