{% extends 'home/base.html' %}

{% block content %}
  
<br>
{% if cart_question_list %}
Drag questions from the left list to the right to remove them. <br>
Reorder questions in the left list to change the order of the questions. <br>
  <link rel="stylesheet" href="/static/home/misc/jquery-ui.css">
  <script src="/static/home/misc/jquery-1.12.4.js"></script>
  <script src="/static/home/misc/jquery-ui.js"></script>

  <style>
  #sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 400;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  #sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 350px;
  }
  </style>

<ul id="sortable1" class="connectedSortableb">
    {% for question in cart_question_list %}
		<li id="question_{{ question.id }}" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{% autoescape off %}{{ question.getHTMLQuestionSource }}{% endautoescape  %}</li>    
        {% endfor %}
</ul>
 
<ul id="sortable2" class="connectedSortableb">

</ul>
<script>
  $( function() {
    $("#sortable1").sortable({
        connectWith: ".connectedSortableb",
        dropOnEmpty: true,
        update: function (event, ui) {
            var order = $(this).sortable("serialize");
            $('#question_order').val(order);
        }        
    }).disableSelection();
    $("#sortable2").sortable({
        connectWith: ".connectedSortableb",
        dropOnEmpty: true,       
    }).disableSelection();    
  } );
  
  </script>
<hr>
{% else %}
    <p>No questions are available.</p>
{% endif %}

<br>

        <form action="{% url 'questions.cart.generate' %}" method="POST">{% csrf_token %}
         Exam name: <input type="text" name="examName"><br>
<textarea rows="4" cols="50" id="description_text" name="description_textarea" type="text">
Description
</textarea> <br>        
<textarea rows="4" cols="50" id="header_text" name="header_textarea" type="text">
Text to put before the questions.
</textarea>
<br>
<textarea rows="4" cols="50" id="footer_text" name="footer_textarea" type="text">
Text to put after the questions.
</textarea>
<br>
<input type="checkbox" name="omitQuestionSource" value="omitQuestionSource">Omit question source<br>
<input type="checkbox" name="omitInstructions" value="omitInstructions">Omit question instructions<br>
<input type="checkbox" name="omitAnswers" value="omitAnswers">Omit question answers<br>
<input type="checkbox" name="omitFigures" value="omitFigures">Omit question figures<br>
<input type="checkbox" name="omitMeta" value="omitMeta">Omit question meta from comments<br>




    
  <input type="radio" name="questionlayout" value="sections" required> Sections for Instructions, Questions, and Answers<br>
  <input type="radio" name="questionlayout" value="together"> Instructions preceed questions, and answers follow them. 
<br>
<input type="checkbox" name="images_in_folder" value="imagesInFolder">Put images in '/images/'<br>
<input type="checkbox" name="figures_in_appendix" value="figuresInAppendix">Put figures in an appendix.<br>
<input type="checkbox" name="omitPackages" value="omitPackages">Do not include packages<br>
<input type="checkbox" name="inputFiles" value="inputFiles">Put each question part in a separate file<br>
<input type="checkbox" name="shareExam" value="shareExam">Share Exam<br>

    <input type="hidden" id="question_order" name="question_order" value="{% for question in cart_question_list %}{{ question.id }},{% endfor %}" />

        <input type="submit" value="Generate Exam">
    </form>
{% endblock %}