{% extends 'home/base.html' %}

{% block content %}

{% if question.is_public or question.initial_author == user.username or user.is_superuser %}

<h1> {% autoescape off %}{{ question.getHTMLQuestionSource }}{% endautoescape  %} </h1>
<ul>
	<li> Difficulty: {{ question.get_difficulty_name}} </li>

	<li> Published on: {{ question.pub_date}} </li>
    <li> Description: {{ question.question_description}} </li>
    <li> Instructions: {{ question.question_instructions }}</li>
<li> Answer: {% autoescape off %}{{ question.getHTMLAnswerSource}}{% endautoescape  %}</li>

    <li> Notes: {{ question.question_notes}}</li>
    <li> Tags: {{ question.get_tags_clean}}</li>
    
    
    <li> Figure Files: {{ question.get_figure_names }}</li>
    <li> Figure Files: {{ question.get_figure_names_short }}</li>


    <li> Num of tables: {{ question.get_num_tables }}</li>   

    <li> Last edited on: {{ question.last_edited}}</li>
    <li> Number of edits: {{ question.num_edits}}</li>
    <li> Owner: {{ question.initial_author}}</li>
    <li> Contributing authors: {{ question.contributing_authors}}</li>  

    <li> Last used on: {{ question.last_used}}</li>
    <li> Number of times used: {{ question.num_used}} <a href="{% url 'questions.exams.show' question.id %}">See exams where this question is used.</a></li>
    
    <li> Is public?: {{ question.is_public}} </li>
</ul>
{% if question.initial_author == user.username or user.is_superuser %}
<a href="{% url 'edit' question.id %}">Edit</a>
<br>
<a href="{% url 'questions.exams.removeAll' question.id %}">Remove from all exams</a>
<br>
{% endif %}
<br><a href="{% url 'questions.cart.add' question.id %}">Add to Exam</a>
<br>
{% if user.username != question.initial_author %}
<br>
<a href="{% url 'questions.copy' question.id %}">Make Private Copy</a>
<br>
{% endif %}
<br>
{% if user.is_superuser or user.username == question.initial_author %}

<a href="{% url 'questions.deleteQuestion' question.id %}">Delete Question</a>
{% endif %}
{% endif %}
{% endblock %}