{% extends 'home/base.html' %}

{% block content %}

<h1> {% autoescape off %}{{ question.getHTMLQuestionSource }}{% endautoescape  %} </h1>
<ul>
	<li> Published on: {{ question.pub_date}} </li>
    <li> Description: {{ question.question_description}} </li>
    <li> Instructions: {{ question.question_instructions }}</li>
<li> Answer: {% autoescape off %}{{ question.getHTMLAnswerSource}}{% endautoescape  %}</li>

    <li> Notes: {{ question.question_notes}}</li>
    <li> Tags: {{ question.get_tags}}</li>
    
    <li> Figure Files: {{ question.get_figure_names }}</li>
    <li> Figure Files: {{ question.get_figure_names_short }}</li>


    <li> Num of tables: {{ question.get_num_tables }}</li>   

    <li> Last edited on: {{ question.last_edited}}</li>
    <li> Number of edits: {{ question.num_edits}}</li>
    <li> Initial author: {{ question.initial_author}}</li>
    <li> Editing authors: {{ question.contributing_authors}}</li>  

    <li> Last used on: {{ question.last_used}} </li>
    <li> Number of times used: {{ question.num_used}} </li>
</ul>

<a href="{% url 'edit' question.id %}">Edit</a>
<a href="{% url 'questions.cart.add' question.id %}">Add to Exam</a>
<br>
<br>
{% if user.is_superuser %}

<a href="{% url 'questions.deleteQuestion' question.id %}">Delete Question</a>
{% endif %}
{% endblock %}