{% extends 'home/base.html' %}

{% block content %}

<h1>Results</h1>
{% if taglist %}
You entered the following query:
    <ul>
    <li>Tags: {{ taglist }}</li>
    <li>Difficulties: {{diffs}} </li>
    <li>Search text: {{searchedText}} </li>    
    </ul>
{% else %}
    <p>No tags searched</p>
{% endif %}

Which returned the following questions:<br>
{% if questions %}

<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
    <script type="text/javascript">
    function addToExam(event) {
                    var input_string = $(event.data.buttonName).val();
                    var deleteQuestion  = false;
                    var buttonText = $(event.data.buttonName).html();
                    if (buttonText.indexOf("Remove") >= 0) {
                        deleteQuestion = true;
                    }
                    
                    $.ajax({
                        url : "../searchresults_json/", 
                        type : "POST",
                        dataType: "json", 
                        data : {
                            client_response : input_string,
                            delete_question : deleteQuestion,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                        success : function(json) {
                            if (deleteQuestion) {
                                $(event.data.resultName).empty().append( 'Question removed');                             
                                $(event.data.buttonName).html('Add to exam')
                            } else {
                                $(event.data.resultName).empty().append( 'Question added');                             
                                $(event.data.buttonName).html('Remove from exam')
                            }
                        },
                        error : function(xhr,errmsg,err) {
                            alert(xhr.status + ": " + xhr.responseText);
                        }
                    });
                    return false;
            }
        $(document).ready(function() {
            {% for question in questions %}
            $("#questionbutton{{ question.id }}").click({buttonName: "#questionbutton{{ question.id }}", resultName: "#result{{ question.id }}"},addToExam);
            {% endfor %}
        });
</script>

    <ul>
    {% for question in questions %}
		<li><a href="{% url 'detail' question.id %}">{% autoescape off %}{{ question.getHTMLQuestionSource }}{% endautoescape  %}</a> 
        <form method="post" name="example form" >
{% csrf_token %}
        <button id="questionbutton{{ question.id }}" type="submit" form="form1" value="{{ question.id }}">{% if question in cart_question_list %}Remove from exam{% else %}Add to exam{% endif %}</button>

</form>
        <div id="result{{ question.id }}">
</div>
    {% endfor %}
    </ul>
{% else %}
    <p>No questions were found.</p>
{% endif %}

<br>



{% endblock %}