<html>
<head>
{% load staticfiles %}
{{ form.media }}

</head>
<body>
{% if user.is_authenticated %}
    <p>User: {{ user.username }}  <a href="{% url 'accounts:logout' %}">Logout</a> <a href="{% url 'accounts:password_change' %}">Change password</a> <a href="/">Home</a> <a href="{% url 'questions.cart' %}">Exam Cart</a> </p>
{% else %}
    <p>Not yet logged in; log in below.</a></p>
{% endif %}
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
			<hr>
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX","output/HTML-CSS"],
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
</script>
        <script type="text/javascript" src="{% static 'home/mathjax/MathJax.js' %}"></script>

    <p>
\[
\frac{-b\pm\sqrt{b^2-4ac}}{2a}
\] </p>
</body>
</html>