{% extends 'home/base.html' %}


{% block content %}

<p>Exam Bank Links</p>  
<p><a href="{% url 'index' %}">View Questions</a> </p>
<p><a href="{% url 'add' %}">Add Question</a> </p>
<br>
<div>
<p><a href="{% url 'questions.search' %}">Search Questions</a></p>
</div>
<br>
<div>
<p><a href="{% url 'exams.recentExams' %}">View Exams</a></p>
<p><a href="{% url 'exams.search' %}">Search Exams</a></p>
</div>
<br>
<div>
<p><a href="{% url 'exams.templates' %}">Your Exam Templates</a></p>
</div>
<div>
<p><a href="{% url 'previews.previewView' %}">Your Preview Code</a></p>
</div>
<br>
<div>
{% if user.is_superuser %}
<br>
<p><a href="{% url 'admin:index' %}">Admin</a> </p>
{% endif %}
</div>
<div>
{% if user.is_superuser %}

<p><a href="{% url 'tag.list' %}">List Tags</a> </p>
{% endif %}
</div>
<br>

{% endblock %}
