{% extends 'home/base.html' %}


{% block content %}

{% if latest_exam_list %}
    <ul>
    {% for exam in latest_exam_list %}
		<li><a href="{% url 'exams.viewExam' exam.id %}">{{exam.exam_name}}</a></li>    {% endfor %}
    </ul>
{% else %}
    <p>No exams are available.</p>
{% endif %}
<br>
<a href="{% url 'exams.deleteEmpty' %}">Remove all empty exams you authored</a><br>
<br>
{% if user.is_superuser %}
Dump everyone's empty exams? Can't be undone.<br>
<a href="{% url 'exams.deleteAllEmpty' %}">Remove all empty.</a><br>
Dump all exams? Can't be undone.
<br>
<a href="{% url 'exams.deleteAll' %}">Delete All Exams</a>
{% endif %}
{% endblock %}

